<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Expected completion date</th>
      <th>Tenant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.expected_completion_date %></td>
        <td><%= project.tenant %></td>
        <td><%= link_to 'Show', tenant_project_path(project, tenant_id: @tenant.id) %></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_tenant_project_path(project, tenant_id: @tenant.id) %></td>
        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        tenant_project_path(project, tenant_id: @tenant.id),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm",
                            :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_tenant_project_path %>
