<%- model_class = Project -%>
<div class="page-header">
  <h3><%= @project.title %></h3>
  <h3><small>Organization - <%= tenant_name @project.tenant_id %></small></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @project.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @project.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tenant_id) %>:</strong></dt>
  <dd><%= @project.tenant_id %></dd>
</dl>

<br />

<%= link_to '< Back to Organization Home', root_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tenant_project_path(project: @project, tenant: @project.tenant_id),
              :class => 'btn btn-default' %>
<%= link_to 'Edit Project Users', users_tenant_project_path(tenant_id: @project.tenant_id, id: @project.id),
              :class => 'btn btn-default' %>
<%= link_to "Destroy",tenant_project_path(@project.tenant_id, @project),
              :method => 'delete',
              data: { confirm: 'Are you sure?' } ,
              :class => 'btn btn-danger' %>
