<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
				<h2 class="title is-2">Invite members</h2>

        <%= form_for(@member, :html => { :class => "form login" }) do |f| %>
        <%= render 'shared/errors', obj: @user%>

         <%= fields_for( :user ) do |w| %>
            <div class="field">
              <%= w.label :email,"*Email", :class => "organization" %>
              <%= w.text_field :email, :class => 'input', autofocus: true %>

            </div>
         <% end %>

         <div class="field">
           <%= f.label :first_name, "*Name", class: "organization label" %>
           <%= f.text_field :first_name, :class => "input", required: true %>
         </div>

         <br />
         <div class="field">
           <button class="button is-primary is-medium" type="submit">
            Create user and invite
           </button>
         </div>
         <% end %>

      </div>
    </div>
  </div>
</section>
